mat-toolbar {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: row;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 150px;
  }
}
